body {
   margin: 0;
}
.mainHeader {
   display: flex;
   background-color: rgb(226, 174, 200);
   line-height: 35vh;
}
.mainHeader,
h2 {
   font-family: "Pacifico", cursive;
   font-size: 50px;
   color: white;
   justify-content: center;
}
.form-row {
   padding: 10px 0;
   display: flex;
   justify-content: center;
}
.form-row,
.row-1 {
   flex: 1;
   line-height: 8vh;
   margin-top: 10px;
   margin-left: 40px;
   margin-right: 40px;
}
.row-1 {
   border: 1px solid rgb(231, 178, 205);
   border-radius: 20px;
   box-sizing: border-box;
   padding-left: 35px;
   outline: none;
   font-size: 18px;
   color: rgb(250, 108, 179);
}
.row-1:hover {
   box-shadow: 10px 10px 5px rgb(245, 202, 210);
}
.row-1,
.name {
   display: ;
}
.row-2 {
   color: white;
   border: 1px solid rgb(231, 130, 182);
   border-radius: 6px;
   background-color: pink;
   cursor: pointer;
   line-height: 35px;
   outline: none;
   padding: 2px 30px;
   font-size: 16px;
}
.row-2:hover {
   background-color: rgb(243, 178, 210);
   border: 1px solid rgb(223, 105, 166);
   color: rgb(143, 95, 143);
}
